/* .social-links{
    padding: 15px 0px;
    border-top: 1px solid #00000080;
}
.social-links h3{
    font-size: 20px ;
    font-weight: 600;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
} */