.landing-hero {
    background-image: url('../../../assets/images/heroBgsmall.jpg') !important;
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) -100px !important;
    background-color: black !important;
    height: 727px !important;
    max-height: 727px !important;
}
.landing-hero img{
    display: none;
}
.landing-hero .flex-1:first-child{
    max-width: 700px;
}
.hero-btn{
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    outline: none;
}
@media (max-width:1120px) {
    .landing-hero {
        background-image: url('../../../assets/images/Rectangle 2.png') !important;
        background-repeat: no-repeat;
        background-position: center !important;
        background-color: black !important;
        background-size: cover !important;
    }
    .landing-hero .flex-1:first-child{
        width: 70% !important;
        max-width: 70% !important;
        flex: 1;
    }
    .landing-hero .flex-1:last-child{
        display: none !important;
    }
}
.category-hero{
    background-image: none !important;
    background-color: black !important;
    min-height: 80vh !important;
}
@media (max-width:768px) {
    .landing-hero .flex-1:first-child{
        width: 100% !important;
        max-width: 100% !important;
        flex: 1;
    }
    .category-hero{
        flex-direction: column !important;
        gap: 20px;
        min-height: fit-content !important;
    }
}


.custom-hero h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px ;
    font-style: italic;
}
@media (max-width:590px) {
    .custom-hero h2{
        font-size: 27px;
        font-weight: 700;
        line-height: 40px ;
        font-style: italic;
    }
}
@media (max-width:400px) {
    .custom-hero h2{
        font-size: 23px;
        font-weight: 700;
        line-height: 34px ;
        font-style: italic;
    }
}
  